{% extends 'base_layout.html' %}
{% include 'some_macros.html' %}

{% block header %}
  <header class="">
    <a href="" class="button button--toggle-menu" data-toggle-menu>Menu</a>
    <h1><img src="/images/gyres-white.png"></h1>

  </header>
{% endblock %}

{% block content %}
  <div class="base template" data-gyres>
    <div class="two-thirds">
      <h3>This Iteration</h3>
      <ul class="iteration">
        {% raw%}
          <li>
            <span class="date" data-current-deadline></span>
            <h4 data-current-title>{{project.title}}</h4>
          </li>
          <ul class="lists" data-current-list>
            <li> {{project.currentMilestone.title}}
              <ul class="list" data-open-todos ng-repeat="todo in project.currentMilestone.todos">
                <li>{{todo.title}}</li>
              </ul>
              <ul class="list" data-closed-todos ng-repeat="todo in project.currentMilestone.completedTodos">
                <li>{{todo.title}}</li>
              </ul>
            </li>
          </ul>
        {% endraw %}
      </ul>
    </div>
    <div class="one-third">
      <h3>Upcoming</h3>
      <ul class="upcoming" data-future-lists>
      </ul>
      <h3>Completed</h3>
      <ul class="completed" data-future-completed>
      </ul>
    </div>
  </div>
{% endblock %}
